<link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<app-menu-desktop></app-menu-desktop>
<div class="container">
    <section>
        <img src="assets\images\logo-login.gif" alt="" srcset="" class="main-logo">
    </section>
    <section class="home-buttons">
        <a routerLink="/about-us" routerLinkActive="active"> <button mat-raised-button>
                <mat-icon>contact_support</mat-icon>
            </button>
        </a>
        <a routerLink="/contact-us" routerLinkActive="active"><button mat-raised-button>
                <mat-icon> local_post_office</mat-icon>
            </button></a>
    </section>
    <article class="info">
        <h1>Cuente con nosotros, ¡estará bien acompañado!</h1>
        <h2>Compañías que confían en Project Tracker..</h2>
    </article>
    <article class="empresas">
        <img src="assets\images\pladema.png" alt="" srcset="" class="empresa-logo">
        <img src="assets\images\lamansys.png" alt="" srcset="" class="empresa-logo">
    </article>
</div>
<app-footer></app-footer>