<footer>
    <div class="right-section">
        <p>Seguinos en nuestras redes</p>
        <section class="logos">
            <img src="assets\images\ig.png" alt="" srcset="" class="logos-footer">
            <img src="assets\images\fb.png" alt="" srcset="" class="logos-footer">
            <img src="assets\images\tw.png" alt="" srcset="" class="logos-footer">
            <img src="assets\images\li.png" alt="" srcset="" class="logos-footer">
            <img src="assets\images\yt.png" alt="" srcset="" class="logos-footer">
            <img src="assets\images\wa.png" alt="" srcset="" class="logos-footer">
            <img src="assets\images\telegram.png" alt="" srcset="" class="logos-footer">
        </section>
    
    </div>
</footer>
