mat-sidenav-container {
    overflow-y: hidden;
}

mat-nav-list {
    margin-top: 20%;
}


.sidenav-container {
    height: 100%;
    overflow-y: hidden;
    padding-right: 0%;
}

.sidenav-container::-webkit-scrollbar {
    display: none;
}

.sidenav {
    height: 100%;
    width: 75%;
    box-shadow: 3px 0 6px rbg(0, 0, 0, .24);
    overflow-y: hidden;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.mat-toolbar.mat-primary {
    background-color: #228b22;
    color: #fff;
}

.header-navbar {
    width: 75%;
    height: 71px;
    padding-bottom: 1%;
    z-index: 1;
}


.header-navbar,
.content-header {
    position: fixed; 
    margin-bottom: 150px;
}

.content-header {
    width: 100%;
    background-color: #228b22;
    z-index: 1;
}

.general-view {
    margin-top: 13%;
    margin-left: 0%;
    background-color: white;
}



.image-logo {
    width: 40x;
    height: 65px;
    margin: auto;
}

.active {
    background-color: #3cb371;
}

.nav-bar-item:hover, .user-profile-link:hover {
    background-color: #7bb661;
}

.nav-bar-item {
    display: flex;
    align-items: center;
}

.icon-navbar {
    margin-right: 3%;
    height: 55%;
}

.user-image-navbar {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    margin-right: 2%;
}

.user-profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid grey;
    margin-right: 0;
}

.user-profile-link > a{
    text-decoration: none;
    color: black;
}

/* DESKTOP */

@media (min-width: 768px) {
    .sidenav,
    .menu-button,
    mat-toolbar {
        display: none;
    }
    .general-view{
        margin-top: 0;
        height: 100%;
    }
    .nav-bar{
        display: flex;
        align-items: center;
    }    
}

/* MOBILE */
@media (max-width: 768px){
    .general-view{
        background-color: white;
        height: 110%;
    }
}